@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* @import "@fortawesome/fontawesome-free/css/all.css"; */

.dash-list {
  list-style-type: none;
  position: relative;
}

.dash-list::before {
  content: "";
  position: absolute;
  top: 13px;
  width: 12px;
  height: 12px;
  border: 1px solid currentColor;
  border-radius: 100%;

  left: -10px;
}

/* Styling sidebar scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.5);
}

.search-input {
  width: 85%;
  transition: width 0.3s ease-in-out;
}

.search-input:focus-within {
  width: 100%;
}

.notifications-box::-webkit-scrollbar {
  width: 6px;
}

.notifications-box::-webkit-scrollbar-thumb {
  /* background: rgb(128, 128, 128); */
  background: black;
  border-radius: 10px;
}

/* Notifications panel animation */
.notifications-panel {
  transition: transform 0.3s ease-in-out;
  /* overflow-y:scroll ; */

}

.notifications-panel.translate-x-0 {
  transform: translateX(0);
  /* Fully visible */
}

.notifications-panel.translate-x-full {
  transform: translateX(150%);
  /* Slide out of view */
}

.hamburger-icon {
  display: none;
}


@media print {
  header {
    display: none !important;
  }
}

/* Fixed previous and next buttons  */

.pagination-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 10px 0;
  margin-top: 50px;
  z-index: 20;
  border-top: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1000px;
  gap: 8px;
}

.dark .pagination-fixed {
  background: transparent;
  border-top: 1px solid #333;
}

